{{ block "delete-modal" . }}
<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" hx-get="/close-modal" hx-target="#modal"></button>
      <h2>Delete Post?</h2>
    </header>
    <textarea rows="7" readonly>{{ .Content }}</textarea>
    <footer>
      <button class="outline" hx-get="/close-modal" hx-target="#modal">Abort</button>
      <button class="pico-background-red-400" hx-delete="/posts/{{ .Id }}" hx-target="#modal">Yes, delete post.</button>
    </footer>
  </article>
</dialog>
{{ end }}
