{{ block "feed" . }} {{ range . }}
<article>
  <header>
    <nav>
      <ul>
        <li>{{ .CreatedAt | formatDate }}</li>
      </ul>
      <ul>
        <details class="dropdown">
          <summary>Action</summary>
          <ul>
            <li>
              <a hx-get="/open-edit-modal/{{ .Id }}" hx-target="#modal">Edit</a>
            </li>
            <li>
              <a hx-get="/open-delete-modal/{{ .Id }}" hx-target="#modal">
                Delete
              </a>
            </li>
          </ul>
        </details>
      </ul>
    </nav>
  </header>
  <p class="content">{{ .Content }}</p>
</article>
{{ end }} {{ end }}
