{{ block "feed-page" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Journal</title>
  </head>
  <body class="container">
    <header>
      <nav>
        <ul>
          <input
            type="search"
            name="search"
            placeholder="Search..."
            aria-label="Search"
            hx-get="/search"
            hx-trigger="input changed delay:1.5s"
            hx-target="#results"
            hx-indicator="#loading"
          />
        </ul>
        <ul>
          <li>
            <a hx-delete="/logout" class="secondary"> Logout </a>
          </li>
          <li>
            <a
              hx-get="/open-create-modal"
              hx-target="#modal"
              hx-swap="innerHTML"
            >
              New Entry
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {{ template "feed" . }}
      <div id="modal"></div>
    </main>
  </body>
</html>
{{ end }}
