<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <title>Journal</title>
  </head>
  <body>

    <header class="container">
    <nav>
      <ul>
        <li><strong>Journal</strong></li>
      </ul>
      <ul>
        <button>New Entry</button>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    </header>

    <main class="container">
       <input
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />

      <div hx-get="/posts" id="result" hx-target="#result" hx-swap="innerHTML">
        <article aria-busy="true"></article>
        <article aria-busy="true"></article>
        <article aria-busy="true"></article>
      </div>

      <article>
        <header>January 18, 1826</header>
        Body
      </article>

       <textarea name="read-only" readonly>
        Read-only
       </textarea>
    <button>Button</button>
    </main>
  </body>
</html>
